.box {
  position: relative;
}
.my-top-boxs {
  height: 14rem;
  width: 100%;
  background: no-repeat;
  filter: blur(8px);
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: 100% 100%;
}
.my-top-boxsMak {
  height: 14rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  top: 0px;
  left: 0px;
}
.my-top-boxsContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14rem;
  .vux-header {
    background: transparent;
  }
  .my-top-AvatarBox {
    // background: #000;
    width: 100%;
    height: 10rem;
    padding: 0 2rem;
    box-sizing: border-box;
    overflow: hidden;
    .my-top-Avatar {
      height: 5.25rem;
      width: 5.2rem;
      border-radius: 50%;
      overflow: hidden;
      // background: #000;
      img {
        height: 5.25rem;
        width: 5.2rem;
      }
    }
    .my-top-userNamebox {
      padding: 1rem 0;
      box-sizing: border-box;
      width: 100%;
      height: 100px;
      color: #fff;
      .my-top-userName {
        font-size: 1.5rem;
        font-weight: bold;
        img {
          width: 1.3rem;
          vertical-align: middle;
        }
      }
    }
.my-top-SubBtnsBox{
  margin-top:1rem; 
  .my-top-SubtotalInfo{
    font-size:0.8rem; 
    color: rgba(255,255,255,.7);
  }
  .my-top-attention{
    color: #fff;
    font-size: 1rem;
    height: 2.2rem;
    width: 5rem;
    border-radius:2.2rem; 
    background: #FF576B;
    text-align: center;
    line-height: 2rem; 
  }
  
}


  }
}


.my-tab-swiper{
  li{
    padding: 1.2rem 1.2rem;
    border-bottom:1px #E6E6E6 solid;
  }
 .my-tab-swiperListImg{
   height: 8rem;
   text-align: center;
   overflow: hidden;
   border-radius:0.3rem; 
   img{
     width: 100%;
    height: 100%;

   }
 } 
 .mylistInfo{
    color: #505050;
    font-size:0.8rem; 
    margin: 0.3rem 0;
 }
 .listContent-tagbox{



  .listContent-tags{
    font-size: 0.5rem;
    padding: .1rem 0.2rem ;
    color: #787878;
    border:1px solid #979797;
    margin-right: 0.3rem;
  }
 }


.my-tab-parListImg{
  // background: #000;
  // width: 2rem;
  height: 4.5rem;
  img{
    
    width: 100%;
    // height: 100%;
  }
}




}


