/*公共样式--开始*/
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}

body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #232323;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr8 {
  padding: 0.8rem;
}

.awardListBox {
  //   padding-right:.8rem;
  border: 1px solid #fe666b;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0.8rem 0;
  .wx-awardList {
    margin: 0.6rem 0;
  }
}
.addAwardBtn {
  background: #ff576b;
  height: 50px;
  color: #fff;
  width: 80%;
  margin: 0.8rem auto;
  text-align: center;
  border-radius: 12px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  img {
    width: 20px;
    vertical-align: middle;
    margin-right: 0.5rem;
  }
}

.awardDel {
}
.awardFlexDemo {
  text-align: center;
  color: #323232;
  h4 {
    font-weight: bold;
  }
  h5 {
    font-weight: bold;
  }
}
.awardFlexInfo {
  color: #323232;
}
.awardFlexBtn {
  text-align: center;
  .OperatingBtn {
    text-align: center;
    width: 80px;
    line-height: 28px;
    height: 30px;
    font-weight: bold;
    border-radius: 8px;
    margin: 0 auto;
  }
  .Op-edit {
    border: #fe666b 1px solid;
    color: #fe666b;
  }
  .Op-initiate {
    border: #ff576b 1px solid;
    color: #fff;
    background: #ff576b;
  }
  .Op-list {
    border: #ffb400 1px solid;
    color: #fff;
    background: #ffb400;
  }
}
.addAwardPopupBox{
    .vux-popup-dialog{
    background: #fff;    
    }
}
.addAwardPopup {
    background: #fff;
  .addAwardInputBox {
    padding: 0.3rem 0;
    border-bottom: 1px solid #e6e6e6;
  }
}

.addAwardSubmit{
    width: 80%;
    height: 50px;
    margin: 1rem auto;
    border-radius:10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    line-height: 50px;

}
.SubN{
background: #DCDCDC;
}
.SubT{
    background: #FF576B;
}


.addAwardDialogBox{
    .weui-dialog{
        border: 3px solid #FBC146;
        background: #FDFFDA;
        border-radius:10px; 
      
    }
  
}
.DialogImg-box{
position: relative;
overflow: hidden;
.DialogImgClose{
    position:absolute;
    top:10px;
    right: 10px;
    img{
        width: 25px;
        height: 25px;
    }
}
.DialogTitle{
    h3{
       font-size: 24px;
       font-weight: bold;
       color:  #FE666B;
    }
    margin: .6rem 0;
}
   
}