@bgColor:red;

// * { touch-action: pan-y; } 
ul li{
    list-style: none;
}
.fl{ float: left;}
.fr{ float: right;}
.m2{
    margin:2rem 0;
}
.magrL3{ margin-left:3rem; }
.magrR3{
    margin-right:3rem; 
}
.padlr2{ padding:0 2rem;}
.pad5{
    padding:.5rem .5rem;
    box-sizing: border-box;
}
.padlr{
    padding:0 .8rem;
    box-sizing: border-box;
}
.borBottm{
   border-bottom:1px solid #e6e6e6; 
   padding-bottom:.5rem; 
}
.linH{
    line-height: 2rem;
}
.potR{
    position: relative;
}
.potA{
    position: absolute ;
}